/* App.css */
/* Description: This file contains the styles for the Home page of the application. */
/* Author: Pasupathi */
/* Date: 08-Aug-2025 */


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}

.layout-topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - var(--scrollbar-width, 0px));
    z-index: 1100;
    transition: background-color .5s,border-color .5s;
    border-bottom: 1px solid transparent;
}

.layout-topbar-sticky {
    border-bottom: 1px solid var(--surface-border);
    background-color: var(--topbar-sticky-bg);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.layout-topbar-inner {
    height: 4rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout-topbar-logo-container {
    width: 250px;
    margin-right: 4rem;
}

.layout-topbar-logo {
    height: 60px;
    width: 60px;
}



.four_zero_four_bg_404 {
    /* background-image: url(https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif); */
    background-image: url(C:\Users\User\Desktop\ERA\vite-pro\src\assets\img\Lol.gif);
    height: 650px;
    background-position: center;
    background-repeat: no-repeat; 
}
